{% extends 'base.html' %}
{% block titulo %}Login{% endblock %}
{% block conteudo %}
    <h2>Login</h2>
    <form action="/autenticar" method="POST">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required><br>
        <label for="senha">Senha</label>
        <input type="password" id="senha_login" name="senha_login" required><br>
        <input type="submit" value="Login">
    </form>
    <p>Não é cadastrado? <a href="/cadastro">Clique aqui</a> para se cadastrar.</p>
{% endblock %}