{% extends 'base.html' %}
{% block titulo %}Login{% endblock %}
{% block conteudo %}

<!-- Área da mensagem de erro (caso não encontre o email ou senha) -->
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="d-flex justify-content-center align-items-center">
    <div class="alert alert-danger" role="alert" style="width: 40%;">
        <ul>
            {% for msg in mensagens %}
            <li style="list-style-type: none;">{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<!-- Área do formulário de login-->
<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center flex-column border border-dark-subtle rounded bg-body-secondary"
        style="padding: 2%;">
        <h2>Login</h2>
        <br>
        <form action="/autenticar" method="POST" class="d-flex justify-content-center align-items-center row g-3">
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="nome@exemplo.com"
                    required>
            </div>
            <div class="col-12">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="senha_login" id="senha_login" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <br>
        <p>Não é cadastrado? <a href="/cadastro">Clique aqui</a> para se cadastrar.</p>
    </div>
</div>
{% endblock %}